// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-robins-egg-blue: #00CCCC;
$color-robins-egg-blue-dark: rgba(0, 201, 201, 0.55);
$color-firefly: #0F2336;
$color-porcelain: #F5F6F7;
$color-nile-blue: #173753;
$color-casablanca: #F3AF47;
$color-blue-bayoux: #576D81;
$color-porcelain-2: #F4F5F6;
$color-porcelain-3: #E3E6E8;
$color-athens-gray: #F0F0F2;
$color-dark: rgba(15, 35, 54, 0.06);