@import "_fonts";
@import "_variables";
@import "_mixins";
@import "_normalize";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./components/header";
@import "./components/main-block";
@import "./components/benefits";
@import "./components/works";
@import "./components/bonuses";
@import "./components/ability";
@import "./components/request";
@import "./components/footer";
@import "./components/burger";