<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=480, initial-scale=1.0">
  <title>TPass</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <header class="header">
    <a href="#">
      <img src="./assets/icons/logo.svg" alt="logo TPass" class="logo">
    </a>
    <nav class="header__menu">
      <ul class="list">
          <li class="list__item">
              <a href="#" class="list__link">Stores</a>
          </li>
          <li class="list__item">
              <a href="#" class="list__link">Help & Support</a>
          </li>
          <li class="list__item">
              <a href="#" class="list__link">Download</a>
          </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main">
      <div class="main__content">
        <div class="main__text">
          <span class="main__first__phrase">Order ahead</span>
          <span>and earn rewards for</span>
          <span>every purchase<span class="main__point">.</span></span>
          
        </div>
        <button class="main__button"><span>Discover how <img src="./assets/icons/arrow.svg" alt="arrow" class="main__arrow"></span></button>
      </div>
      <div class="main__image">
        <img src="./assets/img/picture1.png" alt="image background" class="main__image__background">
        <img src="./assets/img/people.png" alt="people image" class="main__image__people">
      </div>
    </section>
    <sections class="benefits">
      <div class="benefits__item">
        <div class="benefits__icons">
          <img src="./assets/icons/skip-the-line.svg" alt="">
        </div>
        <div class="benefits__title">
          Order ahead, skip the line
        </div>
        <div class="benefits__subtitle">
          Feel like a rock star when you bypass the line and save a bunch of time.
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icons">
          <img src="./assets/icons/bonus.svg" alt="">
        </div>
        <div class="benefits__title">
          Bonus and discounts
        </div>
        <div class="benefits__subtitle">
          You can enjoy lots of discounts from the selected stores, or accumulate points.
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icons">
          <img src="./assets/icons/share.svg" alt="">
        </div>
        <div class="benefits__title">
          Share with your friends
        </div>
        <div class="benefits__subtitle">
          Send gifts to your friends and family, and pick up for your coworkers when they can't get away .
        </div>
      </div>
    </sections>
  </main>
</body>
</html>