<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TPass</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <div class="mask">
    <div class="loader"></div>
  </div>
  <header class="header">
    <a href="#">
      <img src="./assets/icons/logo.svg" alt="logo TPass" class="logo">
    </a>
    <img src="./assets/icons/menu.svg" alt="menu logo" class="burger">
    <nav class="header__menu">
      <ul class="list">
          <li class="list__item">
              <a href="#" class="list__link">Stores</a>
          </li>
          <li class="list__item">
              <a href="#" class="list__link">Help & Support</a>
          </li>
          <li class="list__item">
              <a href="#" class="list__link">Download</a>
          </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main">
      <div class="main__content">
        <div class="main__text">
          <span class="main__first__phrase">Order ahead</span>
          <span>and earn rewards for</span>
          <span>every purchase<span class="main__point">.</span></span>
        </div>
        <button class="main__button">
          <span>Discover how <img src="./assets/icons/arrow.svg" alt="arrow" class="main__arrow"></span>
        </button>
      </div>
      <div class="main__image">
        <img src="./assets/img/picture1.png" alt="image background" class="main__image__background">
        <img src="./assets/img/people.png" alt="people image" class="main__image__people">
      </div>
    </section>
    <sections class="benefits">
      <div class="benefits__item wow">
        <div class="benefits__icons">
          <img src="./assets/icons/skip-the-line.svg" alt="">
        </div>
        <div class="benefits__title">
          Order ahead, skip the line
        </div>
        <div class="benefits__subtitle">
          Feel like a rock star when you bypass the line and save a bunch of time.
        </div>
      </div>
      <div class="benefits__item wow">
        <div class="benefits__icons">
          <img src="./assets/icons/bonus.svg" alt="">
        </div>
        <div class="benefits__title">
          Bonus and discounts
        </div>
        <div class="benefits__subtitle">
          You can enjoy lots of discounts from the selected stores, or accumulate points.
        </div>
      </div>
      <div class="benefits__item wow">
        <div class="benefits__icons">
          <img src="./assets/icons/share.svg" alt="">
        </div>
        <div class="benefits__title">
          Share with your friends
        </div>
        <div class="benefits__subtitle">
          Send gifts to your friends and family, and pick up for your coworkers when they can't get away .
        </div>
      </div>
    </sections>
    <section class="works">
      <div class="works__content">
        <div class="works__image">
          <img src="./assets/img/mobile1.png" alt="image mobile" class="mobile1">
          <img src="./assets/img/drink.png" alt="image drink" class="drink1">
          <img src="./assets/img/crisps.png" alt="image crisps" class="crisps">
        </div>
        <div class="works__info wow">
          <span>Your daily pick-me-up</span>
          <span>How does</span>
          <span>it work.</span>
          <span>Start choosing your favorite teas and snacks in your nearby stores and place your orders, 
            accumulate points, share gifts and teas with your friends and co-workers, and finally use our 
            T-Pass to get your free drinks.</span>
          <div class="options">
            <div class="circle"></div>
            <div class="oval"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="bonuses">
      <div class="bonuses__list">
        <div class="bonuses__item wow">
          <div class="bonuses__icon">
            <img src="./assets/icons/loyalty-points.svg" alt="icon loyalty points">
          </div>
          <div class="bonuses__text">
            <div class="bonuses__title">Loyalty Points</div>
          <div class="bonuses__subtitle">Collect points on each store and redeem them to change for Teas.</div>
          </div>
        </div>
        <div class="bonuses__item wow">
          <div class="bonuses__icon">
            <img src="./assets/icons/exclusive-store.svg" alt=" icon exclusive store">
          </div>
          <div class="bonuses__text">
            <div class="bonuses__title">Exclusive Store Discounts</div>
          <div class="bonuses__subtitle">You can enjoy lots of discounts from the selected stores near you.</div>
          </div>
        </div>
        <div class="bonuses__item wow">
          <div class="bonuses__icon">
            <img src="./assets/icons/free-drink.svg" alt=" icon free drink">
          </div>
          <div class="bonuses__text">
            <div class="bonuses__title">T.Pass Free Drinks</div>
          <div class="bonuses__subtitle">2 Teas for $5.99 each month. and you can carry them over to the next month.</div>
          </div>
        </div>
      </div>
      <img src="./assets/img/women.png" alt="photo women" class="bonuses__image">
    </section>
    <section class="ability">
      <div class="ability__content">
        <div class="ability__info">
          <span>Please your friends</span>
          <span>Send gifts and</span>
          <span>order for groups</span>
          <span>Send Gifts with a value for your friends and family and use it on their 
            favorite stores. Be the rock star make Group Orders and pick up for your 
            coworkers when they can't get away.</span>
          <div class="options">
            <div class="circle"></div>
            <div class="oval"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </div>
        <img src="./assets/img/blueberry.png" alt="image blueberry" class="blueberry">
        <img src="./assets/img/mobile2.png" alt="image mobile" class="mobile2 wow">
        <img src="./assets/img/drink2.png" alt="image drink" class="drink2">
      </div>
    </section>
    <section class="request">
      <img src="./assets/icons/home.svg" alt="" class="request__icon">
      <div class="request__title">Enjoy your afternoon tea with a snack</div>
      <div class="request__input">
        <input class="request__search" type="text" placeholder="Enter mobile number">
        <button class="request__button wow">Send Link</button>
      </div>
      <div class="request__download">
        <img src="./assets/icons/app-store.svg" alt=" apple store">
        <img src="./assets/icons/google-play.svg" alt="google play">
      </div>
    </section>
  </main>
  <footer class="footer">
    <a href="#">
      <img src="./assets/icons/logo2.svg" alt="logo TPass" class="footer__logo">
    </a>
    <div class="footer__info">
      <div class="company">
        <div class="footer__title">Company</div>
        <div class="footer__text">
          <span>Merchant Portal</span>
        </div>
      </div>
      <div class="support">
        <div class="footer__title">Support</div>
        <div class="footer__text">
          <span>FAQ</span>
          <span>Terms of Service</span>
          <span>Privacy Policy</span>
        </div>
      </div>
      <div class="follow">
        <div class="footer__title">Follow Us</div>
        <div class="footer__text">
          <span>Twitter</span>
          <span>Instagram</span>
          <span>Facebook</span>
        </div>
      </div>
    </div>
    <img src="./assets/img/leaf1.png" alt="image leaf" class="leaf1">
    <img src="./assets/img/leaf2.png" alt="image leaf" class="leaf2">
  </footer>
  <div class="shadowed"></div>
  <aside class="sidebar">
      <nav class="burger__menu">
          <ul class="list">
            <li class="list__item">
              <a href="#" class="list__link">Stores</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Help & Support</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__link">Download</a>
            </li>
          </ul>
      </nav>
  </aside>
</body>
</html>