.ability {
    display: flex;
    position: relative;
    width: 100%;
    height: 720px;

    @include resolution(enormous) {
        padding: 400px 170px;
    }

    @include resolution(very-big-desktop) {
        padding: 400px 170px;
    }

    @include resolution(big-desktop) {
        padding: 182px 150px 55px;
    }

    @include resolution(pretty-big-desktop) {
        padding: 182px 100px 55px;
    }

    @include resolution(desktop) {
        margin-bottom: 590px;
    }

    @include resolution(small-desktop) {
        padding: 182px 50px 55px;
    }

    @include resolution(tablet) {
        padding: 182px 20px 55px;
    }

    &__content {
        display: flex;
        padding-left: 140px;
        justify-content: space-between;
        background: $color-porcelain-2;
        border-radius: 50px;

        @include resolution(enormous) {
            width: 100%;
            height: 1000px;
        }

        @include resolution(very-big-desktop) {
            width: 100%;
            height: 800px;
        }
    
        @include resolution(big-desktop) {
            width: 1140px;
            height: 540px;
        }

        @include resolution(pretty-big-desktop) {
            padding-left: 100px;
        }

        @include resolution(desktop) {
            height: 1200px;
            width: 900px;
        }

        @include resolution(small-desktop) {
            width: 860px;
        }

        @include resolution(tablet) {
            padding-left: 50px;
            width: 700px;
            height: 1100px;
        }

        @include resolution(big-mobile) {
            padding-left: 30px;
            width: 700px;
            height: 1100px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        @include resolution(enormous) {
            width: 700px;
            margin-top: 200px;
            margin-left: 200px;
        }

        @include resolution(very-big-desktop) {
            width: 700px;
            margin-top: 200px;
            margin-left: 100px;
        }
    
        @include resolution(big-desktop) {
            margin-top: 126.03px;
            margin-left: 0;
            width: 410px;
        }

        @include resolution(pretty-big-desktop) {
            width: 350px;
        }

        @include resolution(desktop) {
            margin-left: 100px;
            margin-top: 50px;
        }

        @include resolution(small-desktop) {
            margin-left: 40px;
            position: absolute;
        }
        
        span:first-child {
            @include font(regular-18);
            color: $color-blue-bayoux;

            @include resolution(enormous) {
                font-size: 30px;
                margin-bottom: 50px;
            }

            @include resolution(very-big-desktop) {
                font-size: 30px;
                margin-bottom: 50px;
            }
        
            @include resolution(big-desktop) {
                font-size: 18px;
                margin-bottom: 22px;
            }
        }
    
        span:nth-child(2), span:nth-child(3) {
            @include font(black-40);
            color: $color-firefly;

            @include resolution(enormous) {
                font-size: 60px;
                margin-bottom: 20px;
            }

            @include resolution(very-big-desktop) {
                font-size: 50px;
                margin-bottom: 10px;
            }
        
            @include resolution(big-desktop) {
                font-size: 40px;
                margin-bottom: 0;
            }

            @include resolution(small-desktop) {
                font-size: 30px;
            }
        }
    
        span:nth-child(4) {
            @include font(regular-16);
            color: $color-blue-bayoux;

            @include resolution(enormous) {
                font-size: 40px;
                line-height: 50px;
                margin-top: 50px;
                margin-bottom: 100px;
            }

            @include resolution(very-big-desktop) {
                font-size: 30px;
                line-height: 40px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        
            @include resolution(big-desktop) {
                @include font(regular-16);
                margin: 21px 0 -21px;
            }
        }
    }
}

.blueberry {
    position: absolute;

    @include resolution(enormous) {
        width: 300px;
        height: 200px;
        margin: 700px 0 0 1380px;
    }

    @include resolution(very-big-desktop) {
        width: 200px;
        height: 150px;
        margin: 550px 0 0 1100px;
    }

    @include resolution(big-desktop) {
        width: 163px;
        height: 115px;
        margin: 475px 0 0 454px;
    }

    @include resolution(pretty-big-desktop) {
        margin: 475px 0 0 378px;
    }

    @include resolution(desktop) {
        margin: 1017px 0 0 0;
    }

    @include resolution(tablet) {
        margin: 900px 0 0 286px;
    }

    @media (max-width: 550px) {
        margin: 900px 0 0 260px;
    }
}
.mobile2 {
    position: absolute;
    animation: swing;
    animation-duration: 3s;

    @include resolution(enormous) {
        width: 600px;
        height: 1200px;
        top: 310px;
        left: 1900px;
    }

    @include resolution(very-big-desktop) {
        width: 520px;
        height: 1000px;
        top: 310px;
        left: 1550px;
    }

    @include resolution(big-desktop) {
        width: 321px;
        height: 640px;
        top: 132px;
        left: 845px;
    }

    @include resolution(pretty-big-desktop) {
        left: 677px;
    }

    @include resolution(desktop) {
        top: 658px;
        left: 27%;
    }

    @include resolution(tablet) {
        width: 268px;
        height: 521px;
    }

    @media (max-width: 550px) {
        left: 25%;
    }
}
.drink2 {

    @include resolution(enormous) {
        width: 300px;
        height: 650px;
        margin-top: 200px;
        margin-right: 300px;
    }

    @include resolution(very-big-desktop) {
        width: 200px;
        height: 500px;
        margin-top: 200px;
        margin-right: 180px;
    }

    @include resolution(big-desktop) {
        width: 178px;
        height: 384px;
        margin-top: 113.94px;
        margin-right: 0;
    }

    @include resolution(pretty-big-desktop) {
        margin-right: 127px;
    }

    @media (max-width: 1300px) {
        margin-right: 20px;
    }

    @include resolution(desktop) {
        margin-right: 240px;
        margin-top: 638px;
    }
}