.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 100px 191px 40px 170px;
    height: 409px;

    @include resolution(big-desktop) {
        padding-top: 62px;
    }

    @include resolution(small-desktop) {
        flex-direction: column;
        margin-bottom: 450px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 325px;

        @include resolution(big-desktop) {
            &:nth-child(3) {
                padding-top: 20px;
            }
        }

        @include resolution(desktop) {
            margin-right: 20px;
        }
    }

    &__icons {
        margin-bottom: 29px;

        @include resolution(big-desktop) {
            margin-bottom: 23px;
        }

        @include resolution(small-desktop) {
            margin-left: 100px;
        }
    }

    &__title {
        @include font(bold-25);
        line-height: 32.5px;
        margin-bottom: 12px;
        color: $color-firefly;

        @include resolution(pretty-big-desktop) {
            font-size: 20px;
        }

        @include resolution(desktop) {
            font-size: 20px;
        }

        @include resolution(small-desktop) {
            text-align: center;
        }
    }

    &__subtitle {
        @include font(regular-16);
        width: 296px;
        color: $color-blue-bayoux;

        @include resolution(pretty-big-desktop) {
            font-size: 14px;
            width: 250px;
        }

        @include resolution(desktop) {
            font-size: 14px;
            width: 250px;
        }

        @include resolution(small-desktop) {
            margin-left: 40px;
            text-align: center;
        }
    }
}