.bonuses {
    position: relative;
    display: flex;
    width: 100%;
    background: $color-porcelain-2;

    @include resolution(enormous) {
        margin-top: 1000px;
        height: 1000px;
    }

    @include resolution(very-big-desktop) {
        margin-top: 800px;
        height: 800px;
    }

    @include resolution(big-desktop) {
        margin-top: 50px;
        height: 526px;
    }

    @include resolution(big-desktop) {
        margin-top: 40px;
    }

    @include resolution(pretty-big-desktop) {
        height: 1300px;
    }

    @media (max-width: 600px) {
        height: 942px;
    }

    &__list {
        display: flex;
        position: absolute;
        top: -41px;
        flex-direction: column;
        left: 170px;
        align-content: space-between;

        @include resolution(pretty-big-desktop) {
            left: 350px;
        }

        @include resolution(small-desktop) {
            left: 24%;
        }

        @include resolution(tablet) {
            left: 15%;
        }

        @include resolution(big-mobile) {
            left: 10%;
        }

        @media (max-width: 400px) {
            left: 5%;
        }
    }

    &__item {
        display: flex;
        box-shadow: 0px 8px 32px $color-dark;
        padding: 25px 0 0 25px;
        background: $color-white;

        animation: slideInLeft;
        animation-duration: 2s;

        @include resolution(enormous) {
            width: 1000px;
            height: 300px;
            margin-bottom: 85px;
            border-radius: 20px;
        }

        @include resolution(very-big-desktop) {
            width: 800px;
            height: 250px;
            margin-bottom: 85px;
            border-radius: 15px;
        }
    
        @include resolution(big-desktop) {
            width: 455px;
            height: 179px;
            border-radius: 8px;
            margin-bottom: 30px;
        }

        @include resolution(big-mobile) {
            width: 320px;
            height: 129px;
        }
    
        &:nth-child(2) {

            @include resolution(enormous) {
                margin-left: 200px;
            }

            @include resolution(very-big-desktop) {
                margin-left: 100px;
            }
        
            @include resolution(big-desktop) {
                margin-left: 40px;
            }

            @include resolution(pretty-big-desktop) {
                margin-left: 0;
            }
        }

        @media (max-width: 600px) {
            width: 350px;
            height: 150px;
            padding: 10px 0 0 5px;
        }

        @media (max-width: 400px) {
            width: 280px;
            height: 145px;
        }
    }

    &__icon {

        @include resolution(enormous) {
            margin-right: 100px;

            img {
                width: 80px;
            }
        }

        @include resolution(very-big-desktop) {
            margin-right: 50px;
            
            img {
                width: 70px;
            }
        }
    
        @include resolution(big-desktop) {
            margin-right: 23px;

            img {
                width: 50px;
            }
        }
    }

    &__text{

        @include resolution(enormous) {
            padding-top: 20px;
        }

        @include resolution(very-big-desktop) {
            padding-top: 20px;
        }
    
        @include resolution(big-desktop) {
            padding-top: 13px;

        }
    }

    &__title {
        @include font(bold-25);
        color: $color-firefly;

        @include resolution(enormous) {
            font-size: 50px;
            margin-bottom: 50px;
        }

        @include resolution(very-big-desktop) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    
        @include resolution(big-desktop) {
            font-size: 25px;
            margin-bottom: 25px;
        }

        @media (max-width: 600px) {
            margin-bottom: 10px;
        }

        @media (max-width: 400px) {
            font-size: 20px;
        }
    }

    &__subtitle {
        @include font(regular-16);
        color: $color-blue-bayoux;

        @include resolution(enormous) {
            font-size: 30px;
            width: 600px;
            line-height: 50px;
        }

        @include resolution(very-big-desktop) {
            font-size: 20px;
            width: 500px;
            line-height: 30px;
        }
    
        @include resolution(big-desktop) {
            @include font(regular-16);
            width: 326px;
        }

        @media (max-width: 600px) {
            width: 250px;
        }

        @media (max-width: 400px) {
            width: 175px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__image {
        position: absolute;

        @include resolution(enormous) {
            right: 170px;
            top: -160px;
            width: 1100px;
        }

        @include resolution(very-big-desktop) {
            right: 170px;
            top: -150px;
            width: 900px;
        }
    
        @include resolution(big-desktop) {
            right: 170px;
            top: -100px;
            width: 595px;
        }

        @include resolution(pretty-big-desktop) {
            left: 280px;
            top: 672px;
        }

        @include resolution(small-desktop) {
            left: 16%;
        }

        @include resolution(tablet) {
            width: 70%;
            height: 43%;
            left: 10%;
            top: 534px;
        }

        @media (max-width: 600px) {
            width: 70%;
            height: 43%;
            left: 10%;
            top: 534px;
        }
    }
}