.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-porcelain;
    padding: 30px 115px;

    @include resolution(big-desktop) {
        padding: 28px 170px;
    }

    @include resolution(small-desktop) {
        padding: 30px 20px;
    }

    &__menu {
        width: 408px;
        margin-left: auto;

        @include resolution(enormous) {
            width: 800px;
        }

        @include resolution(big-desktop) {
            margin-right: 5px;
        }

        @include resolution(small-desktop) {
            width: 300px;
        }
    }
}

.logo {
    padding-top: 2px;
    img {
        width: 100%;
    }

    @include resolution(enormous) {
        width: 160%;
    }
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__item {
        display: flex;
        list-style-type: none;
        height: 50px;
        width: 157px;

        @include resolution(enormous) {
            width: 300px;
        }
        
        &:first-child {
            width: 97px;
        }
    
        &:last-child {
            width: 122px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        @include font(bold-14);
        color: $color-firefly;
        border-radius: 8px;
        width: 100%;

        @include resolution(enormous) {
            font-size: 30px;
        }

        @include resolution(small-desktop) {
            margin-top: 10px;
        }

        @include resolution(tablet) {
            margin-top: 20px;
        }

        @include resolution(big-mobile) {
            display: none;
        }

        &:hover {
            border: 1px solid $color-firefly;
            background: $color-firefly;
            color: $color-white;
        }
    }
}