.main {
    display: flex;
    width: 100%;
    padding: 0px 115px;
    background-color: $color-porcelain;
    height: calc(100vh - 110px);

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 100px 0 50px;
        @include font(bold-55);
        width: 557px;
        color: $color-firefly;

        @include resolution(desktop) {
            font-size: 45px;
        }

        @include resolution(big-desktop) {
            margin: 91px 55px 50px;
        }

        @include resolution(very-big-desktop) {
            font-size: 75px;
            width: 900px;
        }

        @include resolution(enormous) {
            font-size: 150px;
            width: 1500px;
            line-height: 160px;
            margin-top: 200px;
        }

        @include resolution(small-desktop) {
            font-size: 35px;
        }

        @include resolution(tablet) {
            margin-top: 50px;
            font-size: 30px;
            line-height: 50px;
        }

        @include resolution(big-mobile) {
            text-align: center;
        }
    }

    &__first__phrase {
        color: $color-robins-egg-blue;
    }

    &__point {
        color: $color-casablanca;
    }

    &__arrow {
        margin-left: 15px;
    }

    &__button {
        width: 208px;
        height: 60px;
        @include font(bold-18);
        background: $color-robins-egg-blue;
        border: 1px solid $color-robins-egg-blue;
        box-shadow: 0px 3px 18px $color-robins-egg-blue-dark;
        border-radius: 14px;

        @include resolution(big-desktop) {
            margin-left: 54px;
        }

        @include resolution(enormous) {
            margin-top: 100px;
            width: 400px;
            height: 80px;
            font-size: 30px;
            margin-top: 200px;
        }

        @include resolution(small-desktop) {
            height: 50px;
        }

        span {
            display: flex;
            align-items: center;
            padding-left: 21px;

            @include resolution(enormous) {
                padding-left: 70px;
            }
        }

        &:hover {
            border: 1px solid $color-firefly;
            background: $color-firefly;
            color: $color-white;
        }
    }

    &__image {
        display: flex;
    }

    &__image__background {
        position: absolute;
        bottom: 0;
        right: 3%;
        width: 57%;
        height: 100%;

        @include resolution(desktop) {
            right: 0;
            height: 90%;
        }

        @include resolution(pretty-big-desktop) {
            right: 3%;
        }

        @include resolution(big-desktop) {
            right: 6%;
        }

        @include resolution(very-big-desktop) {
            width: 60%;
            height: 110%;
        }

        @include resolution(small-desktop) {
            width: 50%;
            height: 80%;
        }

        @include resolution(tablet) {
            width: 50%;
            height: 60%;
        }
    }

    &__image__people {
        position: absolute;
        bottom: 0;
        right: 17.5%;
        width: 38%;
        height: 74.5%;

        @include resolution(desktop) {
            right: 10%;
            height: 70%;
        }

        @include resolution(pretty-big-desktop) {
            right: 14%;
        }

        @include resolution(big-desktop) {
            width: 40%;
            height: 85%;
        }

        @include resolution(very-big-desktop) {
            width: 40%;
            height: 90%;
        }

        @include resolution(enormous) {
            width: 40%;
            height: 80%;
        }

        @include resolution(small-desktop) {
            width: 35%;
            height: 55%;
        }

        @include resolution(tablet) {
            width: 35%;
            height: 45%;
        }
    }
}