.request {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include resolution(enormous) {
        padding: 1000px 435px 400px;
    }

    @include resolution(very-big-desktop) {
        padding: 800px 435px 300px;
    }

    @include resolution(big-desktop) {
        padding: 151px 435px 113px;
    }

    @include resolution(small-desktop) {
        padding: 151px 50px 113px;
    }

    &__icon {

        @include resolution(enormous) {
            width: 200px;
            margin-bottom: 50px;
        }

        @include resolution(very-big-desktop) {
            width: 200px;
            margin-bottom: 50px;
        }
    
        @include resolution(big-desktop) {
            width: 128px;
            margin-bottom: 23px;
        }
    }

    &__title {
        text-align: center;
        @include font(black-50);

        @include resolution(enormous) {
            font-size: 80px;
            width: 800px;
            line-height: 90px;
            margin-bottom: 100px;
        }

        @include resolution(very-big-desktop) {
            font-size: 70px;
            width: 800px;
            line-height: 90px;
            margin-bottom: 100px;
        }
    
        @include resolution(big-desktop) {
            width: 520px;
            @include font(black-50);
            margin-bottom: 20.13px;
        }

        @include resolution(tablet) {
            font-size: 40px;
            width: 430px;
        }
    }

    &__input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include resolution(enormous) {
            width: 1300px;
            height: 100px;
            align-items: center;
        }

        @include resolution(very-big-desktop) {
            width: 1000px;
            height: 100px;
            align-items: center;
        }
    
        @include resolution(big-desktop) {
            width: 570px;
            height: 55px;
        }

        @include resolution(tablet) {
            width: 450px;
        }
    }

    &__search {
        display: flex;
        padding: 17px 111px 16px 114px;
        background: $color-athens-gray;
        border: 1px solid $color-athens-gray;
        border-radius: 6px;
        @include font(bold-18);
        color: $color-black-light;
        outline: none;

        @include resolution(enormous) {
            width: 1000px;
            height: 70px;
        }

        @include resolution(very-big-desktop) {
            width: 800px;
            height: 70px;
        }
    
        @include resolution(big-desktop) {
            width: 394px;
            height: 55px;
        }

        @include resolution(tablet) {
            width: 330px;
            padding: 17px 20px 16px 20px;
        }
    }

    &__button {
        background: $color-robins-egg-blue;
        border: 1px solid $color-robins-egg-blue;
        border-radius: 14px;
        @include font(bold-18);
        color: $color-firefly;
        cursor: pointer;

        animation: pulse;
        animation-duration: 2s;
        animation-delay: 2s;

        @include resolution(enormous) {
            width: 230px;
            height: 60px;
        }

        @include resolution(very-big-desktop) {
            width: 180px;
            height: 60px;
        }
    
        @include resolution(big-desktop) {
            width: 156px;
            height: 55px;
        }

        @include resolution(tablet) {
            width: 110px;
        }

        &:hover {
            background: $color-firefly;
            border: 1px solid $color-firefly;
            color: $color-white;
        }
    }

    &__download {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;

        @include resolution(enormous) {
            margin-left: -600px;
        }

        @include resolution(very-big-desktop) {
            margin-left: -400px;
        }
    
        @include resolution(big-desktop) {
            margin-left: -150px;
        }
    
        img {

            @include resolution(enormous) {
                width: 250px;
                height: 150px;
                margin-right: 100px;
            }

            @include resolution(very-big-desktop) {
                width: 200px;
                height: 100px;
                margin-right: 100px;
            }
        
            @include resolution(big-desktop) {
                width: 185px;
                height: 60px;
                margin-right: 24px;
            }
        }
        
        @include resolution(tablet) {
            margin-left: -30px;
        }
    }
}