.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 151px 435px 113px;

    @include resolution(tablet) {
        padding: 151px 0 113px;
    }

    &__icon {
        margin-bottom: 23px;
    }

    &__title {
        text-align: center;
        width: 520px;
        @include font(black-50);
        margin-bottom: 20.13px;

        @include resolution(tablet) {
            font-size: 40px;
            width: 430px;
        }
    }

    &__input {
        display: flex;
        justify-content: space-between;
        width: 570px;
        height: 55px;
        margin-bottom: 20px;

        @include resolution(tablet) {
            width: 450px;
        }
    }

    &__search {
        display: flex;
        padding: 17px 111px 16px 114px;
        width: 394px;
        height: 55px;
        background: $color-athens-gray;
        border: 1px solid $color-athens-gray;
        border-radius: 6px;
        @include font(bold-18);
        color: $color-black-light;

        @include resolution(tablet) {
            width: 330px;
            padding: 17px 20px 16px 20px;
        }
    }

    &__button {
        width: 156px;
        height: 55px;
        background: $color-robins-egg-blue;
        border: 1px solid $color-robins-egg-blue;
        border-radius: 14px;
        @include font(bold-18);
        color: $color-firefly;

        @include resolution(tablet) {
            width: 110px;
        }
    }

    &__download {
        display: flex;
        margin-left: -150px;
        flex-direction: row;
        justify-content: space-between;
        
    
        img {
            width: 185px;
            height: 60px;
            margin-right: 24px;
        }
        
        @include resolution(tablet) {
            margin-left: -30px;
        }
    }
}