.works {
    display: flex;
    position: relative;
    width: 100%;
    // padding: 50px 150px 170px;
    height: 820px;

    @include resolution(enormous) {
        padding: 200px 170px 200px;
    }

    @include resolution(very-big-desktop) {
        padding: 200px 170px 200px;
    }

    @include resolution(big-desktop) {
        padding: 50px 150px 170px;
    }

    @include resolution(small-desktop) {
        height: 1200px;
    }

    @include resolution(tablet) {
        padding: 50px 0 170px;
    }

    &__content {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        // width: 1140px;
        // height: 540px;
        background: $color-porcelain-2;
        border-radius: 50px;

        @include resolution(enormous) {
            width: 100%;
            height: 1000px;
        }

        @include resolution(very-big-desktop) {
            width: 100%;
            height: 800px;
        }
    
        @include resolution(big-desktop) {
            width: 1140px;
            height: 540px;
        }

        @include resolution(small-desktop) {
            flex-direction: column;
            height: 1000px;
        }

        @include resolution(tablet) {
            height: 850px;
            width: 468px;
            margin-left: 15%;
        }

        @include resolution(big-mobile ) {
            margin-left: 6px;
        }
    }

    &__info {
        // margin-top: 117.03px;
        margin-right: 14.15%;
        display: flex;
        flex-direction: column;
        // width: 419px;

        animation: fadeInBottomRight;
        animation-duration: 2s;

        @include resolution(enormous) {
            width: 800px;
            margin-top: 200px;
        }

        @include resolution(very-big-desktop) {
            width: 600px;
            margin-top: 150px;
        }
    
        @include resolution(big-desktop) {
            margin-top: 117.03px;
            width: 419px;
        }

        @include resolution(pretty-big-desktop) {
            margin-right: 5%;
            width: 350px;
        }

        @include resolution(desktop) {
            margin-right: 1%;
            margin-top: 70px;
            width: 300px;
        }

        @include resolution(small-desktop) {
            margin-top: 0;
            margin-bottom: 50px;
            margin-left: 21%;
        }
    
        span:first-child {
            @include font(regular-18);
            color: $color-blue-bayoux;
            margin-bottom: 22px;

            @include resolution(enormous) {
                font-size: 30px;
                margin-bottom: 50px;
            }

            @include resolution(very-big-desktop) {
                font-size: 30px;
                margin-bottom: 50px;
            }
        
            @include resolution(big-desktop) {
                font-size: 18px;
                margin-bottom: 22px;
            }
        }
    
        span:nth-child(2), span:nth-child(3) {
            @include font(black-40);
            color: $color-firefly;

            @include resolution(enormous) {
                font-size: 60px;
            }

            @include resolution(very-big-desktop) {
                font-size: 60px;
            }
        
            @include resolution(big-desktop) {
                font-size: 40px;
            }
        }
    
        span:nth-child(4) {
            @include font(regular-16);
            color: $color-blue-bayoux;
            margin-top: 21px;

            @include resolution(enormous) {
                font-size: 40px;
                line-height: 50px;
                margin-top: 50px;
                margin-bottom: 100px;
            }

            @include resolution(very-big-desktop) {
                font-size: 30px;
                line-height: 40px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        
            @include resolution(big-desktop) {
                @include font(regular-16);
                margin-top: 21px;
                margin-bottom: 0;
            }
        }
    }
}

.drink1 {
    // width: 187px;
    // height: 361px;
    // margin: 115px 0 0 30px;

    @include resolution(enormous) {
        width: 300px;
        height: 500px;
        margin: 300px 0 0 320px;
    }

    @include resolution(very-big-desktop) {
        width: 200px;
        height: 350px;
        margin: 300px 0 0 200px;
    }

    @include resolution(big-desktop) {
        width: 187px;
        height: 361px;
        margin: 115px 0 0 30px;
    }

    @include resolution(desktop) {
        width: 150px;
        height: 250px;
        margin: 200px 0 0 10px;
    }

    @include resolution(small-desktop) {
        margin: 145px 0 0 10px;
    }

    @include resolution(tablet) {
        width: 100px;
        height: 200px;
        margin: 115px 0 0 61px;
    }
}

.mobile1 {
    position: absolute;
    // top: 50px;
    // left: 305px;
    // width: 321px;
    // height: 640px;

    @include resolution(enormous) {
        top: 150px;
        left: 700px;
        width: 600px;
        height: 1200px;
    }

    @include resolution(very-big-desktop) {
        top: 150px;
        left: 500px;
        width: 520px;
        height: 1000px;
    }

    @include resolution(big-desktop) {
        top: 50px;
        left: 305px;
        width: 321px;
        height: 640px;
    }

    @include resolution(desktop) {
        top: 95px;
        left: 250px;
        width: 270px;
        height: 550px;
    }

    @include resolution(small-desktop) {
        top: 45px;
    }

    @include resolution(tablet) {
        top: 58px;
        left: 225px;
        width: 200px;
        height: 400px;
    }

    @media (max-width: 550px) {
        left: 200px;
    }
}

.crisps {
    position: absolute;
    // top: 579px;
    // left: 539px;
    // width: 223px;
    // height: 117px;

    @include resolution(enormous) {
        top: 1150px;
        left: 1200px;
        width: 400px;
        height: 230px;
    }

    @include resolution(very-big-desktop) {
        top: 1020px;
        left: 950px;
        width: 300px;
        height: 150px;
    }

    @include resolution(big-desktop) {
        top: 579px;
        left: 539px;
        width: 223px;
        height: 117px;
    }

    @include resolution(desktop) {
        top: 565px;
        left: 490px;
        width: 160px;
        height: 90px;
    }

    @include resolution(small-desktop) {
        top: 555px;
        left: 490px;
        width: 100px;
        height: 50px;
    }

    @include resolution(tablet) {
        top: 415px;
        left: 400px;
    }

    @media (max-width: 550px) {
        left: 380px;
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 109px;
    height: 10px;
    margin-top: 50px;

    @include resolution(enormous) {
        width: 200px;
        height: 20px;
    }
}

.circle {
    width: 10px;
    background: $color-porcelain-3;
    border-radius: 10px;
    cursor: pointer;

    @include resolution(enormous) {
        width: 20px;
    }
}

.oval {
    width: 55px;
    background: $color-robins-egg-blue;
    border-radius: 10px;
    cursor: pointer;

    @include resolution(enormous) {
        width: 80px;
    }
}